// COLOR PRIMARY
$color-primary: #29b6f6;
$color-primary-light: #89daff;
$color-primary-dark: #002555;

// COLOR SECONDARY
$color-secondary:#e53935 ;
$color-secondary-light: #ff9e9d;
$color-secondary-dark: #830000;

// BACKGROUND COLOR 
$color-bg-primary: #242f35;
$color-bg-secondary: #455a64;
$color-bg-blue: #01579b;

// 
$color-tertiary: #fff9b5;

// FONT
$color-offwhite: #fafafa;







