// COLOR PRIMARY
$color-primary: #29b6f6;
$color-primary-light: #b3e5fc;
$color-primary-dark: #002555;

// COLOR SECONDARY
$color-secondary:#e53935 ;
$color-secondary-light: #ff9e9d;
$color-secondary-dark: #830000;

// BACKGROUND COLOR 
$color-background-primary: #242f35;
$color-background-secondary: #455a64;

// 
$color-tertiary: #fff9b5;








