// For now, I use them for App.js

// PRIMARY
$color-primary: #002744;

// COLOR SECONDARY
$color-secondary:#b71c1c ;
$color-secondary-light: #ffb2b0;
$color-secondary-dark: #740000;

// BACKGROUND COLOR 
$color-greyBlue: #37474f;
$color-lightGrey: #78909c;

// FONT
$color-offwhite: #fafafa;
$color-offwhite-fade: #fafafa93;





